<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="nopCommerce Regression Suit">
	<parameter name="browser" value="chrome" />
	<test name="Regression Test" preserve-order="true">
		<classes>
			<class name="dataDrivenTests.UserRegisterationTestWithDDTusingJavaFaker" />
			<class name="dataDrivenTests.UserRegisterationTestWithDDTusingJavaFaker" />
			<class name="dataDrivenTests.UserRegisterationTestWithDDTusingJavaFaker" />
		</classes>
	</test>
</suite>
